<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../styles/header.css">
	<link rel="stylesheet" type="text/css" href="../styles/banner.css">
	<meta charset="UTF-8">
	<title>components header</title>
</head>
<body>
	<!-- Header component -->
	<div class="main-menu">
		<div class="main-menu__img">
			<img src="../assets/logo.png" alt="logo">
		</div>
		<nav class="main-menu__navigation">
			<ul class="list__menu">
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">Home</a>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">About</a>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">Services</a>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">Portfolio</a>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">princing</a>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">blog</a>
					<ul class="list__menu__items--sub_menu">
						<li class="list__menu__items--sub_menu--items">
							<a href="#" class="list__menu__items--sub_menu--link">blog home</a>
						</li>
						<li class="list__menu__items--sub_menu--items">
							<a href="#" class="list__menu__items--sub_menu--link">blog single</a>
						</li>
					</ul>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">pages</a>
					<ul class="list__menu__items--sub_menu">
						<li class="list__menu__items--sub_menu--items">
							<a href="#" class="list__menu__items--sub_menu--link">elements</a>
						</li>
						<li class="list__menu__items--sub_menu--items">
							<a href="#" class="list__menu__items--sub_menu--link">level 2</a>
						</li>
					</ul>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">contact</a>
				</li>
			</ul>
		</nav>
	</div>
	<!-- banner component -->
	<div class="banner">
		<div class="banner__about">
			<h6>THIS IS ME</h6>
			<h1>Ngo Anh Vinh</h1>
			<p>You will begin to realise why this exercise is called the Dickens Pattern with reference to the ghost showing Scrooge some different futures.</p>
			<button class="banner__about--btn">dicover now</button>
		</div>
		<div class="banner__img">
			<img src="../assets/images/hq.jpg" alt />
		</div>
	</div>
</body>
</html>