<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../styles/header.css">
	<link rel="stylesheet" type="text/css" href="../styles/banner.css">
	<link rel="stylesheet" type="text/css" href="../styles/services.css">
	<link rel="stylesheet" type="text/css" href="../styles/fact.css">
	<link rel="stylesheet" type="text/css" href="../styles/blog.css">
	<meta charset="UTF-8">
	<title>components header</title>
</head>
<body>
	<!-- Header component -->
	<div class="main-menu">
		<div class="main-menu__img">
			<img src="../assets/logo.png" alt="logo">
		</div>
		<nav class="main-menu__navigation">
			<ul class="list__menu">
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">Home</a>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">About</a>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">Services</a>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">Portfolio</a>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">princing</a>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">blog</a>
					<ul class="list__menu__items--sub_menu">
						<li class="list__menu__items--sub_menu--items">
							<a href="#" class="list__menu__items--sub_menu--link">blog home</a>
						</li>
						<li class="list__menu__items--sub_menu--items">
							<a href="#" class="list__menu__items--sub_menu--link">blog single</a>
						</li>
					</ul>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">pages</a>
					<ul class="list__menu__items--sub_menu">
						<li class="list__menu__items--sub_menu--items">
							<a href="#" class="list__menu__items--sub_menu--link">elements</a>
						</li>
						<li class="list__menu__items--sub_menu--items">
							<a href="#" class="list__menu__items--sub_menu--link">level 2</a>
						</li>
					</ul>
				</li>
				<li class="list__menu__items">
					<a href="#" class="list__menu__items--link">contact</a>
				</li>
			</ul>
		</nav>
	</div>
	<!-- banner component -->
	<div class="banner">
		<div class="banner__about">
			<h6>THIS IS ME</h6>
			<h1>Ngo Anh Vinh</h1>
			<p>You will begin to realise why this exercise is called the Dickens Pattern with reference to the ghost showing Scrooge some different futures.</p>
			<button class="banner__about--btn">dicover now</button>
		</div>
		<div class="banner__img">
			<img src="../assets/images/hq.jpg" alt />
		</div>
	</div>
	<!-- about me -->
	<div class="banner about-me">
		<div class="banner__about about-me__about">
			<h6>ABOUT ME</h6>
			<h1>PERSONAL DETAILS</h1>
			<p>Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
			<button class="banner__about--btn">views full details</button>
		</div>
		<div class="banner__img">
			<img src="../assets/images/hq.jpg" alt />
		</div>
	</div>
	<!-- services area -->
	<div class="services-area">
		<div class="services-area__title">
			<h1>My Offered Services</h1>
			<p>At about this time of year, some months after New Year’s resolutions have been made and kept, or made and neglected.</p>
		</div>
		<div class="services-area__menu">
			<div class="services-area__menu--items">
				<img src="../assets/add.svg" alt="icon" />
				<h4>web design</h4>
				<p>“It is not because things are difficult that we do not dare; it is because we do not dare that they are difficult.”</p>
			</div>

			<div class="services-area__menu--items">
				<img src="../assets/add.svg" alt="icon" />
				<h4>web design</h4>
				<p>“It is not because things are difficult that we do not dare; it is because we do not dare that they are difficult.”</p>
			</div>

			<div class="services-area__menu--items">
				<img src="../assets/add.svg" alt="icon" />
				<h4>web design</h4>
				<p>“It is not because things are difficult that we do not dare; it is because we do not dare that they are difficult.”</p>
			</div>
		</div>
	</div>
	<!-- fact area -->
	<div class="fact-area">
		<div class="fact-area__element">
			<h1>23434</h1>
			<p>project completed</p>
		</div>
		<div class="fact-area__element">
			<h1>123</h1>
			<p>happy clients</p>
		</div>
		<div class="fact-area__element">
			<h1>234</h1>
			<p>cup of coffee</p>
		</div>
		<div class="fact-area__element">
			<h1>564</h1>
			<p>real professionals</p>
		</div>
	</div>
	<!-- recent blog -->
	<div class="recent-blog-area">
		<div class="recent-blog-area__title">
			<h1>Latest Posts From Our Blog</h1>
			<p>You may be a skillful, effective employer but if you don’t trust your personnel and the opposite, then the chances of improving and expanding the business</p>
		</div>
		<div class="recent-blog-area__content">
			<div class="recent-blog-area__content__items">
				<div class="content__items--thumb">
					<img src="../assets/images/hq.jpg" alt="" />
				</div>
				<div class="content__items--thumb-2">
					<div class="content__items--thumb-2__infor">
						 <img src="../assets/images/avatar.jpg" alt="avatar">
						 <span>v4n8877</span>
					</div>
					<div class="content__items--thumb-2__meta">
						13th Dec
						<img src="../assets/heart.svg" alt="icon" />
						15
						<img src="../assets/comments.svg" alt="icon" />
						04
					</div>
				</div>
				<h4>BREAK THROUGH SELF DOUBT AND FEAR</h4>
				<p>Dream interpretation has many forms; it can be done be done for the sake of fun, hobby or can be taken up as a serious career.</p>
			</div>
		</div>
	</div>
</body>
</html>