.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 90px;
  background-color: #04091e;
  color: #fff;
  &__about {
    flex-basis: 40%;
    padding: 0 15px;
    &:last-child {
      flex-basis: 20%;
    }
    h4 {
      text-transform: capitalize;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 20px;
    }
    &--input {
      display: flex;
      &--btn {
        button {
          padding: 5px 10px;
          img {
            width: 15px;
            margin-top: 3px;
          }
        }
      }
    }
  }
}