@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  animation: #{$str};  
}

@include keyframes(fade-in-out) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.main-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 15px;
	&__img {
		vertical-align: middle;
	}
	&__navigation {
		display: block;
		flex-grow: 0.5;
	}
}

.list__menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	&__items {
		position: relative;
		text-transform: uppercase;
		padding: 14px 16px;
		&--link {
	    display: inline-block;
	    font-size: 12px;
			text-decoration: none;
			color: #000;
		}
		&--sub_menu {
			display: none;
			position: absolute;
			@include animation('fade-in-out 1s ease');
			text-decoration: none;
			list-style: none;
			margin: 0;
			padding: 0;
			&--items {
				font-size: 12px;
				min-width: 180px;
				text-decoration: none;
				padding: 5px 10px;
			}
		}
		&:hover & {
			&--link {
				color: #4b75cd;
				&:after {
					filter: invert(49%) sepia(72%) saturate(2837%) hue-rotate(203deg) brightness(85%) contrast(86%);
				}
			}
			&--sub_menu {
				display: block;
		    padding: 10px;
		    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
		    background: #fff;
		    right: 0;
        margin-top: 12px;
			}
		}
		&:nth-child(n + 6):not(:last-child) & {
			&--link {
					padding-right: 30px;
					&:after {
					content: '/';
			    position: absolute;
			    color: transparent;
					background: url('../assets/arrow_down.svg');
			    background-size: 11px;
    			background-repeat: no-repeat;
			    right: 15px;
			    width: 16px;
    			bottom: 12px;
				}
			}
		}
	}
}