*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	header {
		position: fixed;
		display: flex;
	 	justify-content: center;
		width: 100%;
	  z-index: 997;
	  background: #fff;
	}
	.container {
    max-width: 1140px;
    width: 100%;
	}
	section {
		display: flex;
		justify-content: center;
		background-color: #4b75cd17;
	}
}